.carrinho {
    display: flex;
    /* flex: 0 0 auto; */
    flex-direction: column;
    padding: 20px;
    padding-bottom: 80px;
    max-height: 100%;
    background-color: #ececec;
    overflow-y: auto;
}

.cart-item {
    padding: 16px;
    margin: 16px 0; /* Espaçamento maior entre os itens */
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 235, 235);
    border-radius: 10px; /* Bordas arredondadas nos itens */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05); /* Sombra leve */
    align-items: center;
    transition: transform 0.3s ease; /* Animação suave */
}
.cart-item:hover {
    transform: translateY(-5px); /* Eleva o item ao passar o mouse */
}
.cart-item img {
    width: 100px; /* Tamanho mais adequado para a imagem */
    height: auto;
    border-radius: 8px; /* Bordas levemente arredondadas */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar a imagem */
}

.cart-item-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.cart-item h2 {
    font-size: var(--big-font-size);
    margin: 2% 0;
    color: rgb(105, 105, 105); /* texto em laranja escuro */
    white-space: normal; 
    word-wrap: break-word; 

    padding-left: 12px;
    padding-bottom: 12px;
}

.cart-item .quantity-control {
    align-items: end;
    justify-content: end;
}

.cart-item img {
    width: min-content;
    height: 80px;
}

.carrinho .empty-cart-warning {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; 
    text-align: center;
    color: dimgray;
}



.fixed-button {
    position: fixed; /* Fixes the button in place */
    bottom: 20px;    /* Distance from the bottom */
    right: 20px;     /* Distance from the right */
    width: 60px;     /* Set a width */
    height: 60px;    /* Set a height */
    background-color: #28a745; /* Light green for "confirm" */
    color: white;    /* Text color */
    border: none;    /* No border */
    border-radius: 50%; /* Makes the button circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    font-size: 24px; /* Font size */
    display: flex;   /* Use flexbox to center content */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s; /* Smooth background transition */
}

.fixed-button:hover {
    background-color: #218838; /* Darker shade on hover */
}

.fixed-button img {
    width: 80%;
    height: auto;
}