@import url('dynamic-cards.css');
@import url('dynamic-toolbar.css');
@import url('dynamic-cart.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #fcd197; /* Fundo suave em tom claro */
}

button {
    margin: 0 5px;
    padding: 12px 18px;
    border: none;
    background-color: #f39c12; /* Laranja vivo */
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #e67e22; /* Tonalidade mais escura de laranja */
}

.container-categoria {
    display: flex; 
    flex-direction: column; 
    gap: 20px;
    padding: 20px;
}

.product-container {
    display: flex; 
    flex-wrap: nowrap; 
    gap: 15px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}

.cardapio {
    flex: 0 0 auto;
    width: 72%;
}

.carrinho {
    flex: 0 0 auto;
    padding: 20px;
    width: 28%;
    background-color: #ececec;
}