/* Estilo para o container dos produtos */
.productContainer {
    margin: 20px;
}

/* Estilo para o container do produto */
.productDiv {
    border: 1px solid #ddd; /* Borda leve ao redor do retângulo */
    border-radius: 8px; /* Bordas arredondadas */
    overflow: hidden; /* Garante que o conteúdo não ultrapasse os limites do retângulo */
    display: flex; /* Flexbox para alinhar a imagem e o texto lado a lado */
    margin: 10px; /* Espaçamento ao redor do retângulo */
    padding: 10px; /* Espaçamento interno do retângulo */
    background-color: #fff; /* Cor de fundo branca */
    position: relative; /* Necessário para posicionar o conteúdo no canto inferior direito */
    max-width: 550px;
}

/* Estilo para a imagem do produto */
.productDiv img {
    max-width: 150px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    border-radius: 8px; /* Bordas arredondadas na imagem */
}

/* Estilo para o container do texto dentro do retângulo */
.productDiv .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Posiciona o conteúdo no topo do container */
    flex: 1; /* Ocupa o espaço restante ao lado da imagem */
}

/* Estilo para o nome do produto */
.productDiv h2 {
    font-size: 18px; /* Tamanho da fonte do nome do produto */
    margin: 0; /* Remove margem do nome do produto */
    padding-bottom: 5px; /* Espaçamento abaixo do nome */
}

/* Estilo para a descrição do produto */
.productDiv p {
    margin: 10x ; /* Margem vertical para os parágrafos */
}

/* Estilo para o preço e quantidade */
.productDiv .price, .productDiv .quantity {
    font-weight: bold; /* Destaca o texto de preço e quantidade */
    margin-top: 10px; /* Espaçamento acima do texto de preço e quantidade */

}

/* Estilo específico para o container do preço e quantidade */
.productDiv .priceQuantityContainer {
    position: absolute; /* Posiciona o container em relação ao pai */
    bottom: 10px; /* Espaçamento do fundo */
    right: 10px; /* Espaçamento do lado direito */
    text-align: right; /* Alinha o texto à direita */
}

/* Estilo para a quantidade */
.productDiv .quantity {
    color: #555; /* Cor do texto para quantidade */
}